@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");

body {
  margin: 15px;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.title-1 {
  font-size: 34px;
  font-weight: 600;
}

.header {
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header___nav {
  margin-bottom: 76px;
}

.header__list {
  display: flex;
  gap: 50px;
}

.nav-button {
  display: none;
}

.header___nav a {
  font-size: 16px;
  transition: color 0.3s;
}

.header___nav a.active {
  color: #606060;
}

.header___nav a:hover {
  color: #606060;
}
.hader-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.header-content {
  padding: 200px 0;
  font-size: 20px;
}
.header-img {
}

/* service */

.services {
  padding: 90px 0;
  background-color: #fff;
}

.services-row {
  display: flex;
  column-gap: 30px;
}

.service-card {
}

.service-card-img {
  margin-bottom: 30px;
}
.service-card-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}

.service-card p {
  line-height: 2;
}

/* portfolio */

.portfolio {
  padding: 90px 0;
  background-color: #f1f1f1;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}

.project {
  text-align: center;
}

.project + .project {
  margin-top: 90px;
}
.project-img {
  margin-bottom: 40px;
}
.project-title {
  font-size: 18px;
}

.project-title a {
  color: #000;
  text-decoration: underline;
}

/* footer */

.contacts {
  padding: 90px 0;
  text-align: center;
}
.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  margin-bottom: 40px;
  font-size: 18px;
}
.contacts-button {
  margin-bottom: 80px;
}
.btn {
  display: inline-block;
  background-color: #070707;
  padding: 7px 22px;
  border-radius: 30px;

  font-size: 18px;
  color: #fff;

  transition: background-color 0.2s ease-in top 0.2s ease-in;
}

.btn:hover,
.btn:focus {
  background-color: #3f3e3e;
}

.btn:active {
  position: relative;
  top: 1px;
  background-color: #000;
}

.contacts-social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  margin-bottom: 40px;
}
.contacts-footer {
  color: #828282;
}
